* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  a {
    color: rgb(0, 0, 0);
  }
  
  .home-container2 {
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    max-width: 1000px;
    justify-content: space-between;
    align-items: center;
  }
  
  .home-container2 h1 {
    font-size: 3.7rem;
  }

  .header-details2 {
    flex: 1;
    margin-left: 6%;
  }
  
  @media screen and (max-width: 1000px) {
    .home-container2 {
      width: 350px;
    }
  }
  
  .home-container2 > img {
    width: 230px;
    margin-bottom: 10px;
    align-items: center;
  }
  