.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 0 1 300px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.project h2 {
  color: black;
}

.project h3 {
  margin-top: -20px;
}

.project a {
  text-decoration: none;
}

.project p {
  margin-top: -20px;
  color: rgba(0, 0, 0, 0.5);
}

.project-thumbnail {
  margin-bottom: -20px;
  height: 200px;
}