body {
  margin: 0;
}

.hero-container {
  margin-top: 150px;
  margin-bottom: 100px;
  align-items: center;
}

.hero-container h1 {
  margin: 0;
  font-size: 3rem;
}

.content {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1000px;
  flex: 1;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 450px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.content > img {
  width: 400px;
  margin-top: 30px;
  padding-bottom: 50px;
  align-items: center;
}

