/* SOCIAL STUFF */
.social-container {
  background: #ffffff;
  padding: 10px 0px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-3px);
}

a.linkedin {
    color: #000000;
}
  
a.github {
    color: #000000;
}
  
a.facebook {
    color: #000000;
}
  
a.instagram {
    color: #000000;
}

a.behance {
    color: #000000;
}